<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
 
</head>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
</style>
<script>
  function validateForm() {
      // Validate name
      const name = document.getElementById('username').value.trim();
      if (name.length < 4 || /\s/.test(name)) {
          alert('Name must be at least 4 characters long and must not contain spaces.');
          return false;
      }
    // Validate password
      const password = document.getElementById('password').value.trim();
      if (password.length < 6) {
          alert('Password must be at least 6 characters long.');
          return false;
      }

      return true;
  }
</script>
<body>
  
  <form action="/admin/login" method="POST" onsubmit="return validateForm()">
    <h2>Admin Login</h2>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
</body>
</html>
